h1{text-align: center;
color: tan}
body{background-color: #276AB2}

h2{text-align: center;
color: pink;
font-size:200%}

h3{text-align: center;
color: yellow;
font-size: 200%}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
  }

td, th {
  border: 5px solid #D3D3D3;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #D3D3D3;
}

a {
  color: #f2bf1c;
  font-size: 150%;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: #D3D3D3;
  width: 100%;
  top: 0;
  left: 0;
  
}

li {
  display: inline;
  float: left;
width: 200px;
padding: 5px;
margin: 5px;}

li a:hover {
  background-color: #D2D816;
}

h4{text-align: center;
color: yellow;
  font-size: 200%
}
